<div class="widget-applications">
	<div class="widget-header">
		<div class="subtitle"><i18n>my-apps.widget.title</i18n></div>
	</div>

	<div class="widget-body" dnd-nodrag>
		<div class="widget-empty-message link" ng-if="ctrl.apps.length===0">
			<a href="/welcome"><i18n>my-apps.widget.more</i18n></a>
		</div>

		<ul class="icon-grid" ng-if="ctrl.apps.length>0">
			<li class="icon-grid-item"
					ng-repeat="app in ctrl.apps">
				<a connector-lightbox-trigger="app" ng-href="[[app.address]]" target="[[app.target]]" i18n-title="[[app.displayName]]" ng-switch="app.icon.indexOf('/')">
					<i ng-class="ctrl.getIconClass(app)" ng-switch-when="-1"></i>
					<img skin-src="[[app.icon]]" ng-switch-default />
				</a>
			</li>
		</ul>
	</div>

	<div class="widget-footer border-top border-ghost" ng-if="ctrl.apps.length!==0">
		<div class="widget-footer-action">
			<a class="link" target="_blank" href="/welcome"><i18n>my-apps.widget.options</i18n></a>
		</div>
	</div>	
</div>