<div class="widget-applications">
	<div class="widget-header">
		<div class="subtitle"><i18n>my-apps.widget.title</i18n></div>

		<div class="tools">
			<a href="/welcome" target="_blank" class="tool tool-option" i18n-title="my-apps.widget.options">
				<i class="fas fa-cog"></i>
			</a>
		</div>
	</div>

	<div class="widget-body" dnd-nodrag>
		<div class="widget-empty-message link" ng-if="ctrl.apps.length===0">
			<a href="/welcome"><i18n>my-apps.widget.more</i18n></a>
		</div>

		<ul class="application-list" ng-if="ctrl.apps.length>0">
			<li class="application-item"
					ng-repeat="app in ctrl.apps">
				<a connector-lightbox-trigger="app" ng-href="[[app.address]]" target="[[app.target]]" i18n-title="[[app.displayName]]" ng-switch="app.icon.indexOf('/')">
					<i ng-class="ctrl.getCssClass(app)" ng-switch-when="-1"></i>
					<img skin-src="[[app.icon]]" ng-switch-default />
				</a>
			</li>
		</ul>
	</div>
</div>