<!--Widget Actualités-->
<div class="widget-news">
	<div class="widget-header">
		<div class="subtitle">
			<a class="seemore" href="/actualites" i18n-title="last-infos-widget.widget.see.all" dnd-nodrag>
				<i18n>last-infos-widget.widget.title</i18n>
				<span class="seemore-text"><i18n>last-infos-widget.widget.see.more</i18n></span>
			</a>
		</div>
		<div class="widget-options">
			<div class="widget-handle" title="Déplacer le widget"><i class="fas fa-grip-vertical" aria-hidden="true"></i></div>
		</div>
	</div>
	<div class="widget-body" dnd-nodrag>
		
		<div class="widget-empty-message"
				ng-if="ctrl.infos === undefined || ctrl.infos.length === 0">
			<i18n>last-infos-widget.widget.empty</i18n>
		</div>

		<a class="news-row"
				ng-repeat="info in ctrl.infos track by info._id"
				ng-href="/actualites#/view/thread/[[info.thread_id]]/info/[[info._id]]"
				>
			<div class="news-row-image">
				<img ng-if="!info.thread_icon" skin-src="/img/illustrations/news.svg" alt="[[info.thread_title]]" width="40" height="40" />
				<img ng-if="info.thread_icon" ng-src="[[info.thread_icon]]?thumbnail=120x120" alt="[[info.thread_title]]" width="40" height="40" />
			</div>
			<div class="news-row-text">
				<span class="link d-block">[[info.title]]</span>
				<span class="meta">[[info.relativeDate]] - [[info.username]]</span>
			</div>
		</a>
	</div>
</div>
<!--End Widget Actualités-->