<!--Widget Actualités-->
<div class="widget-news">
	<div class="widget-header">
		<div class="subtitle">
			<a class="seemore" href="/actualites" i18n-title="actualites.widget.see.all" dnd-nodrag>
				<i18n>actualites.widget.title</i18n>
				<span class="seemore-text"><i18n>actualites.widget.see.more</i18n></span>
			</a>
		</div>
	</div>
	<div class="widget-body" dnd-nodrag>
		
		<div class="widget-empty-message link"
				ng-if="ctrl.infos === undefined || ctrl.infos.length === 0">
			<i18n>actualites.widget.empty</i18n>
		</div>

		<a class="news-row"
				ng-repeat="info in ctrl.infos track by info._id"
				ng-href="/actualites#/view/thread/[[info.thread_id]]/info/[[info._id]]"
				>
			<div class="news-row-image">
				<img ng-if="!info.thread_icon" skin-src="/img/illustrations/news.svg" class="new--icon" alt="[[info.thread_title]]" />
				<img ng-if="info.thread_icon" ng-src="[[info.thread_icon]]?thumbnail=120x120" class="new--icon" alt="[[info.thread_title]]" />
			</div>
			<div class="news-row-text">
				<span class="link d-block">[[info.title]]</span>
				<span class="meta">[[info.relativeDate]] - [[info.username]]</span>
			</div>
		</a>
	</div>
</div>
<!--End Widget Actualités-->