<!-- illustration -->
<div ng-class="{ 'd-none': !ctrl.isIdle }">
    <img class="img-fluid" src="/assets/images/record.png" alt="">
</div>

<div ng-if="!ctrl.isCompatible">
	<p><i18n>recorder.not.supported</i18n></p>
</div>

<!-- audio button -->
<div ng-class="{ 'd-none': !ctrl.isIdle || !ctrl.isCompatible }">
    <a class="btn-circle" href="#" i18n-title="embed.audio.title"
            ng-click="ctrl.switchAudioRecord()">
        <i class="fas fa-microphone"></i>
    </a>
</div>

<!-- video button -->
<div class="d-none">
    <a class="btn-circle" href="#">
        <i class="fas fa-video"></i>
    </a>
</div>

<!-- audio recorder -->
<div ng-class="{ 'd-none': ctrl.isVideo || ctrl.isIdle || ctrl.isStopped || !ctrl.isCompatible }">
    <div ng-if="ctrl.showActionButtons">

        <div class="recorder--timer" 
            ng-class="{'recording': ctrl.isRecording}">
            <i class="record-audio"></i>
            [[ctrl.time()]]
        </div>
        <input type="text" i18n-placeholder="title" ng-model="ctrl.recorder.title" />
        
        <div class="recorder--controls">
            <button type="button"
                    ng-class="{'start': !ctrl.isRecording, 'suspend': ctrl.isRecording}" 
                    ng-click="ctrl.switchAudioRecord()"
                    ng-disabled="ctrl.isEncoding || ctrl.isUploading">
                <i class="record-audio" ng-class="{'start': !ctrl.isRecording, 'suspend': ctrl.isRecording}"></i>
                <span ng-if="ctrl.isSuspended"><i18n>embed.resume</i18n></span>
                <span ng-if="ctrl.isRecording"><i18n>embed.suspend</i18n></span>
            </button>

            <button type="button"
                    class="recorder--control play" 
                    ng-click="ctrl.switchPlay()" 
                    ng-class="{'play': ctrl.showActionButtons, 'pause': ctrl.isPlaying}"
                    ng-disabled="ctrl.isRecording || ctrl.isEncoding || ctrl.isUploading">
                <i ng-class="{'play': ctrl.showActionButtons, 'pause': ctrl.isPlaying}"></i>
                <span ng-if="!ctrl.isPlaying"><i18n>embed.play</i18n></span>
                <span ng-if="ctrl.isPlaying"><i18n>embed.pause</i18n></span>
            </button>

            <button type="button"
                    class="recorder--control redo" 
                    ng-click="ctrl.recorder.flush()" 
                    ng-disabled="ctrl.isRecording || ctrl.isEncoding || ctrl.isUploading">
                <i class="redo"></i>
                <span><i18n>embed.redo</i18n></span>
            </button>

            <button type="button"
                    class="recorder--control save" 
                    ng-click="ctrl.saveRecord()" 
                    ng-disabled="ctrl.isRecording || ctrl.isEncoding || ctrl.isUploading">
                <i ng-class="{'save': !ctrl.isEncoding && !ctrl.isUploading, 'loading': ctrl.isEncoding || ctrl.isUploading}"></i>
                <span><i18n>embed.save</i18n></span>
            </button>
        </div>
    </div>
</div>

<!-- TODO video recorder -->
