<!-- illustration -->
<div ng-class="{'d-none': !ctrl.showMenu || ctrl.selectedRecorder !== 'none'}" class="flex-fill">
    <img class="img-fluid" skin-src="/img/illustrations/recorder-audio.svg" width="100" height="100" alt="recorder">
</div>

<!-- audio button -->
<div ng-class="{ 'd-none': !ctrl.showMenu || !ctrl.isAudioCompatible || ctrl.selectedRecorder !== 'none'}" class="flex-fill">
    <button
        type="button"
        ng-click="ctrl.switchRecorder('audio')"
        class="btn btn-circle"
        i18n-title="embed.audio.title">
        <i class="fas fa-microphone"></i>
    </button>
</div>

<!-- video button -->
<div ng-class="{ 'd-none': !ctrl.showMenu || !ctrl.isVideoCompatible || ctrl.selectedRecorder !== 'none'}" class="flex-fill">
    <button
        type="button"
        ng-click="ctrl.switchRecorder('video')"
        class="btn btn-circle"
        ng-click="ctrl.switchVideoRecord()">
        <i class="fas fa-video"></i>
    </button>
</div>

<div ng-if="!ctrl.isAudioCompatible && !ctrl.isVideoCompatible" class="flex-fill">
	<p><i18n>recorder.not.supported</i18n></p>
</div>

<!-- audio recorder -->
<div
    id="audioRecorder"
    class="flex-fill"
    ng-if="ctrl.selectedRecorder === 'audio'">
    <div class="record-timer">
        <i class="fas fa-microphone"></i>
        [[ctrl.time()]]
    </div>
    <div ng-class="{'d-none': ctrl.displaySavedMessage}">
        <input type="text" class="form-control" i18n-placeholder="title" ng-model="ctrl.recorder.title" />
    </div>
    
    <div class="record-controls" ng-class="{'d-none': ctrl.displaySavedMessage}">
        <button id="btnAudioRecorder"
                type="button" class="btn btn-circle"
                ng-click="ctrl.switchAudioRecord()"
                ng-class="{ 'd-none': ctrl.isVideo || !ctrl.isAudioCompatible }"
                ng-disabled="ctrl.isEncoding || ctrl.isUploading || ctrl.isPlaying || ctrl.isSaved">
            <i class="fas" ng-class="{'fa-microphone': !ctrl.isRecording, 'fa-pause': ctrl.isRecording}"></i>
            <span class="label" ng-if="ctrl.isIdle"><i18n>embed.record</i18n></span>
            <span class="label" ng-if="!ctrl.isRecording && !ctrl.isIdle"><i18n>embed.resume</i18n></span>
            <span class="label" ng-if="ctrl.isRecording"><i18n>embed.suspend</i18n></span>
        </button>

        <button type="button" class="btn btn-circle"
                ng-click="ctrl.switchPlay()"
                ng-disabled="ctrl.disabledButtons || ctrl.isRecording || ctrl.isEncoding || ctrl.isUploading">
            <i class="fas" ng-class="ctrl.isPlaying ? 'fa-pause' : 'fa-play'"></i>
            <span class="label" ng-if="!ctrl.isPlaying"><i18n>embed.play</i18n></span>
            <span class="label" ng-if="ctrl.isPlaying"><i18n>embed.pause</i18n></span>
        </button>

        <button type="button" class="btn btn-circle"
                ng-click="ctrl.saveRecord()"
                ng-disabled="ctrl.disabledButtons || ctrl.isRecording || ctrl.isEncoding || ctrl.isUploading || ctrl.isPlaying">
            <i ng-class="ctrl.getSaveBtnClass()"></i>
            <span class="label"><i18n>embed.save</i18n></span>
        </button>

        <button type="button" class="btn btn-circle"
                ng-click="ctrl.clean()"
                ng-disabled="ctrl.disabledButtons || ctrl.isRecording || ctrl.isEncoding || ctrl.isUploading || ctrl.isPlaying">
            <i class="fas fa-times"></i>
            <span class="label"><i18n>embed.redo</i18n></span>
        </button>
    </div>
</div>

<!-- video recorder -->
<div
    id="videoRecorder"
    class="flex-fill"
    navigation-guard="true"
    guard-root="videoCapturedGuard"
    ng-if="ctrl.selectedRecorder === 'video'">
    <div class="record-timer">
        <i class="fas fa-video"></i>
        &nbsp;[[ctrl.msToTime(ctrl.recorder.elapsedTime)]]/[[ctrl.msToTime(ctrl.recordMaxTime)]]
    </div>
    <div ng-class="{'d-none': ctrl.displaySavedMessage}">
        <select title="selectWebcam" class="form-select mb-2" ng-if="ctrl.videoInputDevices.length > 1"
            ng-options="vid as vid.label for vid in ctrl.videoInputDevices" ng-disabled="ctrl.isRecording"
            ng-model="ctrl.selectedVid" ng-change="ctrl.switchVideo(ctrl.selectedVid.deviceId)">
        </select>
    </div>
    <div id="recorderWidgetVideoPlayer" class="record-widget-player">
        <!--The video player will be appended here-->
    </div>
    <div ng-class="{'d-none': ctrl.displaySavedMessage}">
        <label class="visually-hidden" for="video-recorder"><i18n>title</i18n></label>
        <input type="text" id="video-recorder" class="form-control" i18n-placeholder="title" ng-model="ctrl.recorder.title" />
    </div>
    <div class="record-controls" custom-guard="recordGuard" ng-class="{'d-none': ctrl.displaySavedMessage}">
        <button
            id="btnVideoRecorder"
            type="button"
            class="btn btn-circle"
            ng-if="!(ctrl.isAudio) && ctrl.isVideoCompatible"
            ng-click="ctrl.switchRecord()"
            ng-disabled="ctrl.isEncoding || ctrl.isUploading || ctrl.isPlaying || ctrl.isSaved">
            <i class="fas" ng-class="{'fa-stop': ctrl.isRecording, 'fa-video': !ctrl.isRecording}"></i>
            <span class="label">[[ctrl.isRecording ? 'embed.stop' : 'embed.record' | i18n]]</span>
        </button>

        <button
            type="button"
            class="btn btn-circle"
            ng-click="ctrl.switchPlay()"
            ng-disabled="ctrl.disabledButtons || ctrl.isRecording || ctrl.isEncoding || ctrl.isUploading">
            <i class="fas" ng-class="{'fa-pause': ctrl.isPlaying, 'fa-play': !ctrl.isPlaying}"></i>
            <span class="label">[[ctrl.isPlaying ? 'embed.pause' : 'embed.play' | i18n]]</span>
        </button>

        <button
            type="button"
            class="btn btn-circle" ng-click="ctrl.saveRecord()"
            ng-disabled="ctrl.disabledButtons || ctrl.isRecording || ctrl.isEncoding || ctrl.isUploading || ctrl.isPlaying">
            <i ng-class="ctrl.getSaveBtnClass()"></i>
            <span class="label">
                <i18n>embed.save</i18n>
            </span>
        </button>

        <button
            type="button" class="btn btn-circle"
            ng-click="ctrl.clean()"
            ng-disabled="ctrl.disabledButtons || ctrl.isRecording || ctrl.isEncoding || ctrl.isUploading || ctrl.isPlaying">
            <i class="fas fa-times"></i>
            <span class="label"><i18n>embed.redo</i18n></span>
        </button>
    </div>
</div>

<div ng-class="{'d-none': !ctrl.displaySavedMessage, 'd-block': ctrl.displaySavedMessage}">
    <p class="text-success">{{ctrl.recorder.title}} <i18n>embed.saved.file</i18n></p>
    <a ng-href="/workspace/workspace#/apps" class="btn btn btn-outline-third rounded-pill d-inline-block mx-auto"><i18n>embed.goto.file</i18n></a>
    <button class="btn btn-link d-block mx-auto" ng-click="ctrl.clean()"><i18n>embed.new.recording</i18n></button>
</div>