<!--Widget Dashboard-->
<div class="widget-dashboard">
	<div class="widget-header">
		<div class="subtitle"><i18n>logBook.title</i18n></div>
	</div>
    
	<div class="widget-body" dnd-nodrag>
        <div class="widget-empty-message" ng-if="ctrl.errorMsg">
            <span class="info" translate content="[[ctrl.errorMsg.error]]"></span>
        </div>
    
		<div class="dashboard-choice"
				ng-if="ctrl.me.type=='PERSRELELEVE' && ctrl.eleves.length > 1 && ctrl.structures"
			>
			<a href="" class="avatar-link"
					ng-repeat="eleve in ctrl.eleves"
					ng-click="ctrl.getEleve($index)"
                    ng-class="{'active': eleve===ctrl.currentEleve}"
				>
				<img ng-src="ctrl.getAvatar($index)"/>
				<span>[[ ctrl.getTag('Prenom', $index) ]]</span>
			</a>
		</div>

		<ul class="dashboard-list">
			<li class="item link-discret delay"
					ng-repeat="contentType in ctrl.contentTypes"
					ng-if="contentType.compact"
					ng-click="ctrl.openLightBox(contentType)">
				<a href="#" class="item-inner">
					<div class="left">
						<div class="icon">
							<i class="[[contentType.icon]]"></i>
						</div>
					</div>
					<div class="right">
						<div class="label" translate content="logBook.[[contentType.title]]"></div>
						<div class="info meta">[[contentType.compact]]</div>
					</div>
				</a>
			</li>
		</ul>
	</div>

    <ode-modal visible="ctrl.showLightbox" on-close="ctrl.showLightbox=false">
        <ode-modal-title>
            <h2>
                <span translate content="[[ctrl.currentContentType.lightboxTitle]]"></span>

                <span ng-if="ctrl.me.type !== 'ELEVE' ">
                    <i18n>logBook.of</i18n>
                    [[ctrl.getCurrentTag('Prenom')]]
                </span>
            </h2>
        </ode-modal-title>

        <ode-modal-body>
            <article>
                <div ng-repeat="item in ctrl.currentContentType.full">

                    <p ng-if="!item.subsections && !item.pageUrl">
                        <span>•</span>[[ item.value ]]
                    </p>

                    <p ng-if="!item.subsections && item.pageUrl">
                        <a target="_blank" href="[[ctrl.structureAddress]]/[[ctrl.userStatus()]].html?page=[[ item.pageUrl ]]">
                            <span>•</span>[[ item.value ]]
                            <i class="new-tab right-magnet" i18n-title="logBook.target.tooltip"></i>
                        </a>
                    </p>



                    <h4 ng-if="item.subsections && !item.pageUrl">
                        [[ item.value ]]
                    </h4>
                    <h4 ng-if="item.subsections && item.pageUrl">
                        <a target="_blank" href="[[ctrl.structureAddress]]/[[ctrl.userStatus()]].html?page=[[ item.pageUrl ]]">
                            [[ item.value ]]
                            <i class="new-tab right-magnet" i18n-title="logBook.target.tooltip"></i>
                        </a>
                    </h4>

                    <div ng-if="item.subsections">
                        <section ng-repeat="subsection in item.subsections">

                            <b ng-if="!subsection.pageUrl">[[ subsection.header ]]</b>

                            <a ng-if="subsection.pageUrl" target="_blank" href="[[ctrl.structureAddress]]/[[ctrl.userStatus()]].html?page=[[ subsection.pageUrl ]]">
                                <b>[[ subsection.header ]]
                                    <i class="new-tab right-magnet" i18n-title="logBook.target.tooltip"></i>
                                </b>
                            </a>

                            <br>
                            <span>
                                [[ subsection.content ]]
                            </span>
                        </section>
                    </div>

                </div>
            </article>
        </ode-modal-body>

        <ode-modal-footer>
        </ode-modal-footer>
        
    </ode-modal>	

</div>
<!--End Widget Dashboard-->
