<style id="widget-container-css">
    /**
    * For the correct positioning of the placeholder element, the dnd-list and
    * it's children must have position: relative
    */
    ul[dnd-list],
    ul[dnd-list] > li {
        position: relative;
    }

    /** No left-padding for dnd-lists */
    ul[dnd-list] {
        padding-left: 0px;
    }

    /**
    * The dnd-list accepting drops should always have a min-height,
    * otherwise you can't drop to it once it's empty
    */
    ul[dnd-list][dnd-drop] {
        min-height: 42px;
    }

    /**
    * The dndDraggingSource class will be applied to
    * the source element of a drag operation. It makes
    * sense to hide it to give the user the feeling
    * that he's actually moving it.
    */
    ul[dnd-list] .dndDraggingSource {
        display: none;
    }

    /**
    * An element with .dndPlaceholder class will be
    * added to the dnd-list while the user is dragging
    * over it.
    */
    ul[dnd-list] .dndPlaceholder {
        display: block;
        background-color: #FFDBB7;
        min-height: 90px;
        border-radius: 6px;
        margin-bottom: 2em;
    }

    /**
    * Hide bullet for widgets (list-items)
    */
    ul[dnd-list] li {
        list-style: none;
    }

    .dndDragging:not(.dndDraggingSource) {
        cursor: grabbing !important;
        border: 1px solid rgb(255 133 0);
    }
    .dnDragover {
        cursor: grabbing;
    }
    .dndDragging:not(.dndDraggingSource):active,
    .dndDragging:not(.dndDraggingSource):focus,
    .dndDragging:not(.dndDraggingSource):hover {
        cursor: grabbing;
        cursor: -webkit-grabbing;
    }
</style>

<ul dnd-list
    dnd-allowed-types="[]"
    ng-if="ctrl.lockedWidgets.length">
    <li ng-repeat="widget in ctrl.lockedWidgets track by widget.platformConf.id" 
        class="widget widget-locked"
        ode-widget="widget">
    </li>
</ul>

<ul dnd-list 
    dnd-allowed-types="ctrl.allowedDndTypes"
    dnd-drop="ctrl.onDnDDrop(event, item, index, dropEffect)">
    <li ng-repeat="widget in ctrl.dndWidgets track by widget.platformConf.id" 
        class="widget"
        ode-widget="widget"
        dnd-draggable="widget.platformConf.id" 
        dnd-type="widget.userPref.position" 
        dnd-disable-if="ctrl.isMobileView">
    </li>
</ul>