<div class="widget-school">
	<div class="widget-body">
		<div class="widget-school-header" ng-style="ctrl.getWidgetStyle()">
			<div class="d-flex align-items-center">
				<div class="me-4">
					<a href="/userbook/mon-compte" class="avatar-link" i18n-title="navbar.myaccount"
							ng-click="trackEvent($event, {detail:{'open':'profile'} })">
						<img data-ng-src="[[ctrl.avatar ? ctrl.avatar+'?thumbnail=48x48' : '']]" alt="{{ctrl.description.displayName}}" />
					</a>
				</div>
				<div class="flex-grow-1">
					<div class="name">{{ctrl.description.displayName}}</div>
					
					<div ng-if="!ctrl.hasManySchools" class="school">{{ctrl.selectedSchool.name}}</div>

					<div ng-if="ctrl.hasManySchools" class="dropdown">
						<div class="school-multiple dropdown-toggle" role="button" id="ddSchoolWidgetSchool" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<a href="" class="text-white">{{ctrl.selectedSchool.name}}</a>
						</div>
						<div class="school-choice dropdown-menu" aria-labelledby="ddSchoolWidgetSchool">
							<div tabindex="0" role="button" class="dropdown-item"
								 ng-repeat="school in ctrl.description.schools"
							 	 ng-click="ctrl.onSchoolSelected($index)"
								 ng-keydown="ctrl.onSchoolSelected($index, $event)">
								{{school.name}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-group">
			<!-- Students -->
			<a href="/userbook/annuaire#/search" class="btn btn-third rounded-pill"
				ng-if="ctrl.isStudent"
				ng-click="trackEvent($event, {detail:{'open':'student.class'} })"
				translate content="school-widget.widget.my.classroom"></a>
			<a ng-href="{{ctrl.getUrlTeachersOfMyClass()}}" class="btn btn-outline-third rounded-pill" 
				ng-if="ctrl.isStudent"
				ng-click="trackEvent($event, {detail:{'open':'student.teachers'} })"
				translate content="school-widget.widget.my.team"></a>

			<!-- Teachers -->
			<a ng-href="{{ctrl.getUrlStudentsOfMyClasses()}}" class="btn btn-third rounded-pill"
				ng-if="ctrl.isTeacher"
				ng-click="trackEvent($event, {detail:{'open':'teacher.students'} })"
				translate content="school-widget.widget.my.classrooms"></a>
			<a ng-href="{{ctrl.getUrlSchoolTeachers()}}" class="btn btn-outline-third rounded-pill"
				ng-if="ctrl.isTeacher"
				ng-click="trackEvent($event, {detail:{'open':'teacher.teachers'} })"
				translate content="school-widget.widget.school.team"></a>

			<!-- Relatives -->
			<a ng-href="{{ctrl.getUrlTeachersOfMyChildren()}}" class="btn btn-third rounded-pill"
				ng-if="ctrl.isRelative"
				ng-click="trackEvent($event, {detail:{'open':'relative.teachers'} })"
				translate content="school-widget.widget.school.team"></a>
			<a ng-href="{{ctrl.getUrlSchoolPersonnels()}}" class="btn btn-outline-third rounded-pill"
				ng-if="ctrl.isRelative"
				ng-click="trackEvent($event, {detail:{'open':'relative.direction'} })"
				translate content="school-widget.widget.school.managers"></a>

			<!-- Personnel -->
			<a ng-href="{{ctrl.getUrlSchoolPersonnelsAndTeachers()}}" class="btn btn-third rounded-pill"
				ng-if="ctrl.isPersonnel"
				ng-click="trackEvent($event, {detail:{'open':'personnel.personnels'} })"
				translate content="school-widget.widget.school.personnelAndTeachers"></a>
			<a ng-href="{{ctrl.getUrlStudents()}}" class="btn btn-outline-third rounded-pill"
				ng-if="ctrl.isPersonnel"
				ng-click="trackEvent($event, {detail:{'open':'personnel.students'} })"
				translate content="school-widget.widget.students"></a>
		</div>
	</div>
</div>
