<div class="widget-school">
	<div class="widget-body">
		<div class="widget-school-header" ng-style="ctrl.getWidgetStyle()">
			<div class="d-flex align-items-center">
				<div class="me-4">
					<a href="/userbook/mon-compte" class="avatar-link">
						<img data-ng-src="[[ctrl.avatar ? ctrl.avatar+'?thumbnail=48x48' : '']]" />
					</a>
				</div>
				<div class="flex-grow-1">
					<div class="name">{{ctrl.description.displayName}}</div>
					
					<div ng-if="!ctrl.hasManySchools" class="school">{{ctrl.selectedSchool.name}}</div>

					<div ng-if="ctrl.hasManySchools" class="dropdown">
						<div class="school-multiple" href="" role="button" id="ddSchoolWidgetSchool" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<a href="" class="text-white">{{ctrl.selectedSchool.name}}</a>
						</div>
						<div class="school-choice dropdown-menu" aria-labelledby="ddSchoolWidgetSchool">
							<div tabindex="0"
								 ng-repeat="school in ctrl.description.schools"
							 	 ng-click="ctrl.setSelectedSchool($index)">
								{{school.name}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="button-list">
			<!-- Students -->
			<a href="/userbook/annuaire#/myClass" class="btn btn-alt"
				ng-if="ctrl.isStudent"
				translate content="school-widget.widget.my.classroom"></a>
			<a ng-href="{{ctrl.getUrlTeachersOfMyClass()}}" class="btn btn-alt-outline" 
				ng-if="ctrl.isStudent"
				translate content="school-widget.widget.my.team"></a>

			<!-- Teachers -->
			<a ng-href="{{ctrl.getUrlStudentsOfMyClasses()}}" class="btn btn-alt"
				ng-if="ctrl.isTeacher"
				translate content="school-widget.widget.my.classrooms"></a>
			<a ng-href="{{ctrl.getUrlSchoolTeachers()}}" class="btn btn-alt-outline"
				ng-if="ctrl.isTeacher"
				translate content="school-widget.widget.school.team"></a>

			<!-- Relatives -->
			<a ng-href="{{ctrl.getUrlTeachersOfMyChildren()}}" class="btn btn-alt-outline"
				ng-if="ctrl.isRelative"
				translate content="school-widget.widget.school.team"></a>
			<a ng-href="{{ctrl.getUrlSchoolPersonnels()}}" class="btn btn-alt-outline"
				ng-if="ctrl.isRelative"
				translate content="school-widget.widget.school.managers"></a>
		</div>
	</div>
</div>
