<!--Widget Flux RSS-->
<div class="widget-rss">
	<div class="widget-header">
		<div class="subtitle"><i18n>rss-widget.widget.title</i18n></div>
		<div class="tools">
			<a href="" class="tool tool-option" i18n-title="rss-widget.widget.channel.config"
					ng-if="ctrl.canAddFeed"
					ng-click="ctrl.display.edition = true">
				<i class="fas fa-cog"></i>
			</a>
		</div>
	</div>

	<div class="widget-body" dnd-nodrag>
		<div class="widget-empty-message link"
				ng-if="ctrl.channel===undefined || ctrl.channel.feeds.length === 0">
			<i18n>rss-widget.widget.empty.info</i18n>
		</div>

		<div class="widget-empty-message link"
				ng-if="ctrl.channel && ctrl.channel.feeds.length > 0 && ctrl.feeds.length === 0">
			<i18n>rss-widget.widget.channel.feed.no.result</i18n>
		</div>

		<div class="rss-feed" 
				ng-if="ctrl.feeds !== undefined"
				ng-repeat="feed in ctrl.feeds track by $index">
			<div class="feed-title" ng-click="ctrl.showOrHideFeed($index)">[[feed.title]]</div>
			<ul class="list" ng-show="ctrl.display.selectedFeed === [[$index]]">
				<li class="item link" ng-repeat="item in feed.Items track by $index">
					<a href="[[item.link]]" target="_blank">
						<div class="title">[[item.title]]</div>
						<div class="meta">[[ctrl.formatDate(item.pubDate)]]</div>
						<div class="meta" ng-bind-html="item.description"></div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<ode-modal visible="ctrl.display.edition" on-close="ctrl.display.edition = false" >
	<ode-modal-title>
		<h2>
			<i18n ng-if="!ctrl.display.feedEdition">rss-widget.widget.channel.feed.list</i18n>
			<i18n ng-if="ctrl.display.feedEdition">rss-widget.widget.channel.feed.edit</i18n>
		</h2>
	</ode-modal-title>
	
	<ode-modal-body>
		<div ng-if="!ctrl.display.feedEdition">
			<p ng-if="ctrl.channel.feeds.length === 0"><i18n>rss-widget.widget.channel.undefined</i18n></p>

			<table class="table table-hover" ng-if="ctrl.channel.feeds.length > 0">
				<thead>
					<tr class="bg-secondary text-light">
						<th><i18n>rss-widget.widget.channel.feed.title</i18n></th>
						<th><i18n>rss-widget.widget.channel.feed.show</i18n></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="c-pointer" 
							ng-repeat="feed in ctrl.channel.feeds track by $index" 
							ng-class="{ 'table-active' : ctrl.display.feedEdition && $index === ctrl.selectedFeedIndex }">
						<td ng-click="ctrl.openFeedEdition($index)">[[ctrl.channel.feeds[$index].title]]</td>
						<td ng-click="ctrl.openFeedEdition($index)">[[ctrl.channel.feeds[$index].show]]</td>
						<td ng-click="ctrl.removeFeed($index)">
							<button type="button" class="btn-close" aria-label="Close"></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


		<form autocomplete="off" id="formFeedEdition" ng-if="ctrl.display.feedEdition">
			<div class="form-group row">
				<label for="inputFeedTitle" class="col-sm-4 col-form-label"><i18n>rss-widget.widget.channel.feed.title</i18n></label>
				<div class="col-sm-8">
					<input type="text" i18n-placeholder="rss-widget.widget.channel.feed.title.placeholder" id="inputFeedTitle" class="form-control" ng-model="ctrl.selectedFeed.title" />
				</div>
			</div>

			<div class="form-group row mt-3">
				<label for="inputFeedUrl" class="col-sm-4 col-form-label"><i18n>rss-widget.widget.channel.feed.url</i18n></label>
				<div class="col-sm-8">
					<input type="text" i18n-placeholder="rss-widget.widget.channel.feed.url.placeholder" id="inputFeedUrl" class="form-control" ng-model="ctrl.selectedFeed.link" />
				</div>
			</div>

			<div class="form-group row mt-3">
				<label for="inputFeedShow" class="col-sm-4 col-form-label"><i18n>rss-widget.widget.channel.feed.show</i18n></label>
				<div class="col-sm-8">
					<select id="inputFeedShow" class="form-control" ng-options="n for n in ctrl.showValues" ng-model="ctrl.selectedFeed.show"></select>
				</div>
			</div>
		</form>
	</ode-modal-body>

	<ode-modal-footer>
		<div ng-if="!ctrl.display.feedEdition && ctrl.canAddFeed">
			<button class="btn btn-primary" ng-click="ctrl.openFeedEdition()" translate content="rss-widget.widget.channel.feed.add"></button>
		</div>

		<div ng-if="ctrl.display.feedEdition">
			<button form="formFeedEdition" type="reset" class="btn btn-light text-primary" ng-click="ctrl.closeFeedEdition()">
				<i18n>rss-widget.widget.channel.feed.cancel</i18n>
			</button>
			<button form="formFeedEdition" type="submit" class="btn btn-primary" ng-click="ctrl.saveFeed()">
				<i18n>rss-widget.widget.channel.feed.save</i18n>
			</button>
		</div>
	</ode-modal-footer>
</ode-modal>