<!--Widget Agenda-->
<div class="widget-calendar">
	<div class="widget-header">
		<div class="subtitle">
			<a class="seemore" href="/calendar" i18n-title="agenda-widget.widget.see.all"><i18n>agenda-widget.widget.title</i18n>
				<span class="seemore-text"><i18n>agenda-widget.widget.see.more</i18n></span>
			</a>
		</div>
		<div class="widget-options">
			<div class="widget-handle" title="Déplacer le widget" aria-label="Déplacer le label"><i class="fas fa-grip-vertical" aria-hidden="true"></i></div>
		</div>
	</div>

	<div class="widget-body" dnd-nodrag>
		<div class="widget-empty-message link"
				ng-if="ctrl.userEvents === undefined || ctrl.userEvents.length === 0">
			<i18n>agenda-widget.widget.empty</i18n>
		</div>

		<ul class="day-list"
				ng-if="ctrl.userEvents !== undefined && ctrl.userEvents.length >= 0">
			<li class="day-item"
					ng-repeat="group in ctrl.dayGroups">
				<div class="day-item-title">
					{{group}}
				</div>
				<ul class="moment-list">
					<li class="moment-item"
							ng-repeat="event in ctrl.userEvents | filter:{displayedGroup: group}">
						<span class="icon"><i class="fas fa-calendar-alt"></i></span>
						<span class="hour" ng-if="!event.allday">[[event.displayedDate]]</span>
						<span class="link"><a href="/calendar">[[event.title]]</a></span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>