<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{ctrl.id+'Label'}}" aria-hidden="true"
        ng-class="{show: ctrl.visible}" 
        ng-style="ctrl.getStyle()"
        >
    <div class="modal-backdrop fade show" style="z-index:1040"></div>
    <div class="modal-dialog" ng-class="ctrl.getSizeClass()" role="document" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ctrl.id+'Label'}}" ng-transclude="title"></h5>
                <button type="button" class="btn-close" aria-label="Close" ng-if="ctrl.onClose" ng-click="ctrl.onClose()">
                </button>
            </div>
            <div class="modal-body" ng-transclude="body"></div>
            <div class="modal-footer" ng-transclude="footer"></div>
        </div>
    </div>
</div>
