<ode-modal visible="ctrl.display.showAuthenticatedConnectorLightbox" on-close="ctrl.onClose()">
    <ode-modal-title>
        <h3><i18n>apps.authenticatedConnector.lightbox.title</i18n></h3>
    </ode-modal-title>

    <ode-modal-body>
        <p class="text-center">
            <i18n>apps.authenticatedConnector.lightbox.content</i18n>
        </p>
    </ode-modal-body>

    <ode-modal-footer>
        <button class="btn btn-light text-primary" ng-click="ctrl.onClose()">
            <i18n>cancel</i18n>
        </button>
        <button class="btn btn-primary" ng-click="ctrl.onConfirm()">
            <i18n>confirm</i18n>
        </button>
    </ode-modal-footer>
</ode-modal>
