<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
-->

<!-- Theme 1D -->
<header class="no-2d navbar navbar-light bg-white" ng-if="ctrl.is1D">
    <a class="application__title d-desktop-none text-truncate" href="/welcome?token=[[ctrl.version]]"
        ng-bind-html="ctrl.title">
    </a>
    
    <div class="d-mobile-none">
        <img ng-src="[[ctrl.avatar]]" id="my-photo" />
        <span href="" translate key="welcome"></span>
    </div>
    
    <nav class="navigation">
        <div class="navigation__item" ng-if="me.hasWorkflow('org.entcore.conversation.controllers.ConversationController|view')">
            <span>
                <a href="/conversation/conversation" i18n-title="navbar.messages">
                    <i class="ic-conversation"><span class="new-mails" ng-if="nbNewMessages">[[nbNewMessages]]</span></i>
                </a>    
            </span>
        </div>
        
        <div class="navigation__item">
            <a href="/userbook/mon-compte" i18n-title="navbar.myaccount">
                <i class="ic-avatar"></i>
            </a>
        </div>
        
        <div class="navigation__item" ng-if="ctrl.currentLanguage == 'fr'" pulsar="{index: 5, i18n: 'portal.pulsar.help', position: 'bottom center'}">
            <a href="" i18n-title="navbar.help">
                <i18n>help.icon</i18n>
            </a>
        </div>
        
        <div class="navigation__item">
            <a href="" logout i18n-title="navbar.disconnect">
                <i class="ic-disconnect"></i>
            </a>
        </div>
    </nav>
</header>

<div class="no-2d navigation--secondary">
    <a class="d-mobile-none" href="/timeline/timeline">
        <img class="logo" src="/assets/themes/[[ctrl.skin.skin]]/img/illustrations/logo.png" alt="Logo de l'ENT">
        <span class="text-truncate d-desktop-none"
                ng-bind-html="ctrl.title">
        </span>
    </a>
    
    <nav class="navigation">
        <a class="button" href="/timeline/timeline?token=[[ctrl.version]]">
          <i class="ic-notifications d-desktop-none"></i>
          <span class="d-mobile-none"><i18n>portal.header.navigation.whatsnew</i18n></span>
        </a>
        
        <a class="button" href="/userbook/annuaire?myClass&token=[[ctrl.version]]">
          <i class="ic-userbook d-desktop-none"></i> 
          <span class="d-mobile-none"><i18n>portal.header.navigation.classMembers</i18n></span>
        </a>
        
        <a class="button" href="/welcome?token=[[ctrl.version]]">
          <i class="ic-apps d-desktop-none"></i>
          <span class="d-mobile-none"><i18n>portal.header.navigation.myapps</i18n></span>
        </a>
      </nav>
</div>

<!-- Theme 2D -->
<header class="no-1d navbar navbar-dark bg-secondary" ng-if="ctrl.is2D">
    <a class="d-mobile-none" href="/timeline/timeline?token=[[ctrl.version]]">
        <img class="logo" src="/assets/themes/[[ctrl.skin.skin]]/img/illustrations/logo.png" alt="Logo de l'ENT">
    </a>
    
    <a href="/welcome" class="application__title d-desktop-none text-truncate"
        ng-bind-html="ctrl.title">
    </a>
    
    <nav class="navigation">
        <div class="navigation__item">
            <a href="/timeline/timeline" i18n-title="navbar.home"><i class="ic-home"></i></a>
        </div>
        
        <div class="navigation__item" ng-if="me.hasWorkflow('net.atos.entng.community.controllers.CommunityController|view')">
            <a href="/community" class="zero-mobile" i18n-title="navbar.community">
                <i class="ic-community"></i>
            </a>
        </div>
        
        <div class="navigation__item" pulsar="{ index: 3, i18n: 'portal.pulsar.apps', position: 'bottom center'}">
            <popover>
                <a href="/welcome" i18n-title="navbar.applications" popover-opener>
                    <i class="ic-apps"></i>
                </a>
                
                <popover-content>
                    <div class="content">
                        <div class="my-apps row">
                            <div ng-if="me.bookmarkedApps.length === 0">
                                <i18n>navbar.myapps.more</i18n>
                            </div>
                            <div class="bookmarked-app" ng-repeat="app in me.bookmarkedApps">
                                <a connector-lightbox-trigger="app" href="[[app.address]]" target="[[app.target]]" i18n-title="[[app.displayName]]" ng-switch="app.icon.indexOf('/')">
                                    <i class="ic-app [[app.displayName]] color-app-[[app.displayName]]" ng-switch-when="-1"></i>
                                    <img skin-src="[[app.icon]]" ng-switch-default />
                                </a>
                            </div>
                        </div>
                        <div class="more">
                            <a href="/welcome"><i18n>plus</i18n></a>
                        </div>
                    </div>
                </popover-content>
            </popover>
        </div>
        
        <div class="navigation__item">
            <span ng-include="ctrl.conversationUnreadUrl"></span>
        </div>
        
        <div class="navigation__item" ng-if="me.hasWorkflow('fr.openent.searchengine.controllers.SearchEngineController|view')">
            <popover class="searchengine">
                <a href="/searchengine" popover-opener ng-click="ctrl.openApps($event)" i18n-title="navbar.search">
                    <i class="ic-search"></i>
                </a>
                <popover-content class="searchPortal">
                    <div class="content searchContent">
                        <div class="search-text row">
                            <input type="text" class="searchInput" name="mysearch" ng-model="ctrl.mysearch"
                                ng-keyup="ctrl.launchSearch($event);" />
                            <button class="searchButton" ng-click="ctrl.launchSearch('link');">
                                <i18n>ok</i18n>
                            </button>
                        </div>
                    </div>
                </popover-content>
            </popover>
        </div>

        <div ng-if="ctrl.currentLanguage == 'fr'" class="navigation__item" pulsar="{ index: 5, i18n: 'portal.pulsar.help', position: 'bottom center'}">
            <a href="" i18n-title="navbar.help">
                <i18n>help.icon</i18n>
            </a>
        </div>
        
        <div class="navigation__item" pulsar="{ index: 4, i18n: 'portal.pulsar.account', position: 'bottom center'}">
            <a href="/userbook/mon-compte" class="avatar" i18n-title="navbar.myaccount">
                <img data-ng-src="[[ctrl.avatar ? ctrl.avatar+'?thumbnail=48x48' : '']]" id="my-photo" />
            </a>
        </div>
        
        <div class="navigation__item">
            <a href="" logout i18n-title="navbar.disconnect">
                <i class="ic-disconnect"></i>
            </a>
        </div>
    </nav>
</header>
