<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
-->
<ode-navbar title="{{name}}"></ode-navbar>

<main role="main">
    <div ng-transclude></div>
</main>

<div id="infotips-container" class="toast-container">
    <ode-infotip 
            header=""
            userprefs-key="rgpdCookies" 
            userprefs-field="showInfoTip"
            save-on-change="false"
            show="showRgpd">
        
        <i18n>rgpd.cookies.banner.text1</i18n>

        <div class="mt-4 pt-4 d-flex justify-content-end">
            <button type="button" class="btn btn-light btn-md me-4"
                    ng-click="goToMyAccount()">
                <i18n>rgpd.cookies.banner.button.consult</i18n>
            </button>
            <button type="button" class="btn btn-primary btn-md" data-bs-dismiss="toast"
                    ng-click="closeBanner()">
                <i18n>rgpd.cookies.banner.button.close</i18n>
            </button>
        </div>
    </ode-infotip>
    <div ng-transclude="infotips"></div>
</div>

<xiti></xiti>

<connector-lightbox></connector-lightbox>