<div class="container d-flex">
    <!-- SIDEBAR -->
    <ode-sidebar></ode-sidebar>
    <!-- MAIN CONTENT -->
    <main class="main-content">
        <section class="explorer">
            <section class="explorer__header">

                <form class="row justify-content-between mb-2">
                    <div class="col-lg-9 col-md-12 input-searchbar">
                        <!-- <label for="" class="visually-hidden">Taper votre recherche ici</label> -->
                        <i class="ic-search form-control-feedback"></i>
                        <input type="search" class="form-control" id="" i18n-placeholder="explorer.searchbar.placeholder">
                    </div>
                    <div class="col-lg-3 d-none d-sm-none d-md-none d-lg-block">
                        <button class="btn btn-block btn-primary" type="submit"
                                ng-click="ctrl.onCreate()">
                            <i class="ic-plus"></i>&nbsp;<i18n>explorer.toaster.btn.create.label</i18n>
                        </button>
                    </div>
                </form>
                
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h2>{{ctrl.model.currentFolder.name}}</h2>
                    <div class="filters d-flex">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-filter"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item active" href="#">
                                    <input type="checkbox" aria-label="">
                                    <i class="ic-user"></i>
                                    Mes blogs</a>
                                <a class="dropdown-item" href="#">
                                    <input type="checkbox" aria-label="">
                                    <i class="ic-share"></i>
                                    Les blogs partagés avec moi
                                </a>
                                <a class="dropdown-item" href="#">
                                    <input type="checkbox" aria-label="">
                                    <i class="ic-public"></i>
                                    Blogs public
                                </a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-sort-alpha-down"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href=""
                                   ng-repeat="sort in ctrl.context.orders track by sort.id"
                                   ng-class="ctrl.getSortClass(sort)"
                                   ng-click="ctrl.toggleSortOrder(sort)">{{sort.i18n}}</a>
                            </div>
                        </div>
                        <a class="btn" href="explorer.html"><i class="ic-grid"></i></a>
                        <a class="btn inactive" href="explorer-list.html"><i class="ic-list"></i></a>
                    </div>
                </div>
            </section>

            <section class="explorer__view dominos dominos--square" ode-resource-list>
                <ode-list-folder>
                    <ode-domino-folder folder="$parent.folder"></ode-domino-folder>
                </ode-list-folder>
                <ode-list-item>
                    <ode-domino-item item="$parent.item"></ode-domino-item>
                </ode-list-item>
            </section>

            <ode-toaster></ode-toaster>
        </section>
    </main>
</div>